{% extends 'base.html' %}

{% block titulo %}
Cambio de password
{% endblock %}

{% block contenido %}
<center><h2>Ingresa tu nuevo password</h2></center>
{{errors}}
<form action="" method="POST" style="margin-left:40rem;margin-top:7rem" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" , value="Guardar">
</form>
{% endblock %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">GUARDAR</button>
    </form>
</body>
</html>
-->