{% extends 'base.html' %}

{% block contenido %}
    {% for pagina in paginas %}
        <div class="entity_wrapper">
            <div class="entity_title">
                <h1><a href="/paginas/detalle-pagina/{{pagina.id}}" target="_self">{{pagina.titulo}}</a>
                </h1>
            </div>
            <!-- entity_title -->
            <div class="entity_meta">
                <!--<a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>-->
                <a href="#">{{pagina.fecha}}</a>, by: <a href="#">{{pagina.autor}}</a>
            </div>
            <!-- entity_meta -->
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-full"></i>
            </div>
            <!-- rating -->
            {% if pagina.imagen %}
                <div class="entity_thumb">
                    <img class="img-responsive" src="{{ pagina.imagen.url }}" alt="{{ pagina.imagen_epigrafe}}">
                </div>
                <!-- entity_thumb -->
            {% endif %}
            <div class="entity_content">
                <p>{{pagina.copete}}</p>
            </div>
            <!-- entity_content -->
        </div>
        <!-- entity_wrapper -->
    {% endfor %}




    {% if paginas.has_other_pages %}
        <nav aria-label="Page navigation" class="pagination_section">
            <ul class="pagination">
                {% if paginas.has_previous %}
                    <li><a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginas.paginator.page_range %}
                    {% if paginas.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if paginas.has_next %}
                    <li><a href="?page={{ paginas.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}