{% extends 'base.html' %}

{% block titulo %}
    Perfiles
{% endblock %}

{% block contenido %}
<h1 style="margin-left:30rem">Listado de Perfiles</h1>
<div class="container-fluid">
    {% for perfil in perfiles %}
        {% if forloop.counter0|divisibleby:4 %} 
            <div class="row mb-5">
        {%  endif %}
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{perfil.nombre}}</h5>
                        <p class="card-text">{{perfil.apellidos}}</p>
                        <p class="card-text">{{perfil.habilitado}}</p>
                        <p class="card-text">{{perfil.tipo}}</p>
                        {% if perfil.imagen %}
                            <p><img src="{{ perfil.imagen.url }}" style="width: 100%;"></p>
                        {% endif %}
                        <a href="#" class="btn btn-primary">Ver</a>
                    </div>
                </div>
            </div>
        {% if forloop.counter|divisibleby:4 or forloop.last %}
            </div><!-- row closing -->
        {% endif %}
    {% endfor %}
</div>
{% endblock %}