{% extends 'base.html' %}

{% block titulo %}
    Usuarios
{% endblock %}

{% block contenido %}
<h1 style="margin-left:30rem">Listado de Usuarios</h1>
<div class="container-fluid">
    {% for usuario in usuarios %}
        {% if forloop.counter0|divisibleby:4 %}
            <div class="row mb-5">
        {%  endif %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{usuario.nombre}}</h5>
                    <p class="card-text">{{usuario.apellido}}</p>
                    <p class="card-text">{{usuario.nickname}}</p>
                    <p class="card-text">{{usuario.email}}</p>
                    <p class="card-text">{{usuario.clave}}</p>
                    <p class="card-text">{{usuario.perfilid}}</p>
                    <p class="card-text">{{usuario.habilitado}}</p>
                    <a href="#" class="btn btn-primary">Ver</a>
                    {% if usuario.imagen %}
                    <p><img src="{{usuario.imagen.url}}"  style="width: 100%;"></p>
                    {% endif %}               
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 or forloop.last %}
            </div><!-- row closing -->
        {% endif %}
    {% endfor %}
</div>

{% endblock %}